
.containerContato
{
    position: relative;
    top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContato
{ 
    text-align: center;
    font-size: 64px;
    font-family: 'Suez One', serif;
    color: #000;
}

.formContato
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    position: relative;
    top: 48px;
}

.formContato #nome, #email, #mensagem, #botao
{
    margin-bottom: 64px;
    border: none;
}

.formContato #nome, #email, #mensagem
{
    background: rgba(0,0,0,0.12);
}

.formContato input, textarea
{
    padding-left: 32px;
    padding-top: 4.8px;
    font-size: 32px;
}

.formContato input::placeholder, textarea::placeholder
{
    font-size: 40px;
    position: relative;
    color: rgba(0,0,0,0.8);
}

#nome
{
    height: 80px;
    width: 400px;
    border-radius: 50px;
}

#email
{
    height: 80px;
    width: 640px;
    border-radius: 50px;
}

#mensagem
{
    height: 320px;
    width: 800px;
    border-radius: 30px;
    resize: none;
    padding-top: 10px;
    padding-right: 15px;
}

#botao
{
    background: #81a969;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    height: 80px;
    width: 144px;
    border-radius: 12.8px;
    position: relative;
    left: 960px;
    bottom: 160px;
}

#botao:hover
{
    background: #72975d;
    
}

@media (max-width: 500px)
{
    .titleContato
    {
        font-size: 32px;
    }

    #nome
    {
        height: 7vh;
        width: 70vw;
        border-radius: 20px;
    }

    #email
    {
        height: 7vh;
        width: 70vw;
        border-radius: 20px;
    }

    #mensagem
    {
        width: 70vw;
    }

    .formContato input::placeholder, textarea::placeholder
    {
        font-size: 30px;
    }

    .formContato
    {
        left: -70px;
    }

    .formContato #nome, #email, #mensagem, #botao
    {
        margin-bottom: 30px;
        
    }
}


