.menu
{
  background: #a359a0;
  height: 8em;
  width: 100vw;
  max-width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.menuBranco
{
  background: #fff;
  height: 8em;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
}

ul
{
  display: flex;
  gap: 5.5em;
  margin-right: 5em;
  list-style: none;
  position: relative;
  left: 4.5em;
}

ul li a
{
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 1px;
}


ul li a:hover
{
  border-bottom: 2px solid #fff;
}

.logo
{
  position: relative;
  right: 85%;
}

.logoMooji
{
  height: 27em;
  width: 27m;
  object-fit: cover;
  position: relative;
  left: 24em;
  z-index: 100; 
}

.SearchIcon
{
  height: 4em;
  width: 4em;
  position: relative;
  left: 19em;
}

.color
{
  color: #000;
}

.color:hover
{
  border-bottom: 2px solid #000;
}

.lines
{
  height: 7px;
  width: 50px;
  background: #fff;
  border-radius: 2px;
}

.lines::before
{
  content: '';
  height: 7px;
  width: 50px;
  background: #fff;
  position: absolute;
  bottom: 74px;
  border-radius: 2px;
}

.lines::after
{
  content: '';
  height: 7px;
  width: 50px;
  background: #fff;
  position: absolute;
  top: 74px;
  border-radius: 2px;
}

.hambMenu
{
  margin-left: 20px;
  display: none;
  cursor: pointer;
}

@media (max-width: 700px)
{
  .menu
  {
    position: relative;
  }

  .menu ul, .menu img
  {
    display: none;
    cursor: pointer;
  }

  .menuBranco
  {
    display: none;
  }

  .hambMenu
  {
    display: block;
  }
}
