@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap'); /* Título e Subtítulo */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); /* Texto */

.containerHome
{
    display: flex;
}

.contentHome
{
    position: relative;
    top: 30vh;
    left: 9vw;
    max-width: 800px;
    color: #fff;
}

.titleHome
{
    font-size: 80px;
    font-family: 'Suez One', serif;
    line-height: 100px;
}

.subtitleHome
{
    font-size: 36px;
    font-family: 'Suez One', serif;
    margin-bottom: 9px;
}

.textHome
{
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    max-width: 70vw;
}

.imageHome img
{
    position: relative;
    top: 20vh;
    left: 20vw;
}
   

